ol{
   color: brown;
   background-color: rgb(241, 137, 219);
   margin: 10px;
   box-shadow: 10px 10px 10px;
}

button{
    color: chocolate;
}
body{
    color: rgb(90, 80, 61);
}
p{
    color: black;
}